
{{#if isValid}}
<div>
   {{#each docs}}
   <div>
      <p>PRODUCTO: {{this.title}} &nbsp; <br> MODELO:{{this.description}} <br> PRECIO: U$ {{this.price}} <br> STOCK : {{
         this.stock}}</p>
         <form method="POST" action="/api/cart/644442f7cd8386a2f86a03e7/product/{{this._id}}">
            <button type="submit"> Agregar al carrito</button>
         </form>
   </div>
   <br />
   {{/each}}
</div>
<br />
<div>

   {{#if hasPrevPage}}
   <a href={{this.prevLink}}>
      << Anterior</a>
         {{/if}}
         &nbsp;
         {{this.page}}
         &nbsp;
         {{#if hasNextPage}}
         <a href={{this.nextLink}}>Siguiente >></a>
         {{/if}}
         <br>
         Paginas: {{this.totalPages}}
</div>
{{else}}
<h1>No hay productos para mostrar</h1>
{{/if}}

<style>
  table {
    margin: auto;
  }
</style>
